@media screen and (max-width:991px)
{
    body {
        box-sizing: border-box;
          color: black;  
          width: 100%;
          margin: 0;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width:auto;
        padding-left: 30px;
    }
    
    nav li{
        margin: 10px;
        padding-right: 10px;
    }
    nav a:hover{
        border-top: 0px solid cornflowerblue ;
        border-bottom: 2px solid cornflowerblue;
        padding-bottom: 5px;
        color: cornflowerblue;
    }
    h2{
        font-size: 20px;
        white-space:normal;
        padding-left: 30px;
    }
    h2+ p{
        color: grey;
        font-size: 15px;
        padding-left: 30px;
    }
    #formulaire{
        display: flex;
        justify-content:flex-start;
        align-items:baseline;
        width:auto;
        padding-left: 30px;
    }
    .element2 input  {
        height: 45px;
        width: 180px;
        border: 0px;
        border: 0.1px solid rgb(223, 207, 207);
        padding-left: 20px;
    }
    #filtre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        width: 750px;
        padding-left: 30px;
    }
    .touslesfiltres{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 650px;
        padding: 5px;
    }
   
    .economique{
        display: flex;
        background-color: white;
        justify-content: flex-start;
        align-items: center;
        border: 1px darkgrey solid ;
        border-radius: 20px/20px;
        height: 40px;
        padding-right: 10px;
    }
    .famille{
     display: flex;
     background-color: white;
     justify-content: space-between;
     align-items: center;
     border: 1px darkgrey solid;
     border-radius: 20px/20px;
     height: 40px;
     padding-right: 10px;
    }
    .romantique{
     display: flex;
     background-color: white;
     justify-content: space-between;
     align-items: center;
     border: 1px darkgrey solid;
     border-radius: 20px/20px;
     height: 40px;
     padding-right: 10px;
    }
    .animaux{
     display: flex;
     background-color: white;
     justify-content: space-between;
     align-items: center;
     border: 1px darkgrey solid ;
     border-radius: 20px/20px;
     height: 40px;
     padding-right: 10px;
    }
    #i500logement{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: grey;
        font-size: 15px;
        padding-left: 30px;
 }
    #hebergement{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        padding-left: 10px;
    }
    #card_hebergement{
        background-color: #F2F2F2;
        border-radius: 10px/10px;
        margin-right: 20px;
        padding: 20px;
        flex: 2;
    }
    .card_hebergement{
        width: 175px;
        margin: auto;
        background-color: white;
        box-shadow: 5px 5px 20px #999;
        border-radius: 10px/10px;
    }
    .touslescards{
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        align-content: space-between;
        height: 400px;
        width: auto;
        padding-right: 10px;
        margin-left: 10px;
    }
    #card_les_populaires{
        background-color: #F2F2F2;
        border-radius: 10px/10px;
        width:33%;
     }
     .les_populaires{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        margin-left: 0px;
        margin-top: 20px;
        width: auto;
    }
    .les_elements{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        padding: 5px;
        height: 110px;
        width: 100%;
        margin:auto;
    }
    
    .touslescard_populaires{
        display: flex;
        justify-content: space-between;
        height: 470px;
        width: auto;
        margin: auto;
    }
    .card_image_les_populaires{
        width: 100px;
        height: 110px;
    }
    .card_image_les_populaires img{
        width: 100px;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
    .card_body_les_populaires{
        padding-left: 20px;
        margin-right: 20px;
        font-size: 10px;
        box-sizing: border-box;
        height: auto;
    }

    .touslesactivites{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        height: 450px;
        width: 100%;
        padding: 10px;
        margin-bottom: 0px;
    }
    #les_activites h2{
        padding-left: 10px;
        text-align: left;
    }
    .card_vieux_port{
        width: 280px;
        overflow:hidden;
        border-radius: 10px/10px;
        box-shadow: 5px 10px 20px #F2F2F2;
        margin-bottom: 20px;
    }
    .card_image_vieuxport{
        height: 140px;
    
    }
    .card_image_vieuxport img{
        height: 100%;
        width: 280px;
    }
    .card_vieux_port a:hover{
        color: cornflowerblue;
        filter: grayscale(1);
    }

    .card_pomegues{
        width: 280px;
        overflow: hidden;
        border-radius: 10px/10px;
        box-shadow: 5px 10px 20px #F2F2F2;
        margin-right: 12px;
    }
    .card_image_pomegues{
        height: 140px;
    }
    .card_image_pomegues img{
        height: 100%;
        width: 280px;
    }
    .card_pomegues a:hover{
        color: cornflowerblue;
        filter: grayscale(1);
    }
    .card_frioul{
        width:280px;
        height: 180px;
        overflow:hidden;
        border-radius: 10px/10px;
        box-shadow: 5px 10px 20px #F2F2F2;
        margin-bottom: 20px;
    }
    .card_image_frioul{
        height: 140px;
    }
    .card_image_frioul img{
        height: 100%;
        width: 280px;
    }
    .card_frioul a:hover{
        color: cornflowerblue;
        filter: grayscale(1);
    }
    .card_calanques{
        width: 280px;
        overflow: hidden;
        font-size: 10px;
        border-radius: 10px/10px;
        box-shadow: 5px 10px 20px #F2F2F2;
        margin-right: 12px;
    }
    .card_image_calanques{
        height: 140px;
    }
    .card_image_calanques img{
        height: 100%;
        width: 280px;
    }
    .card_calanquesa:hover{
        color: cornflowerblue;
        filter: grayscale(1);
    }
    .card_notre_dame{
        width:280px;
        overflow:hidden;
        border-radius: 10px/10px;
        box-shadow: 5px 10px 20px #F2F2F2;
        margin-bottom: 20px;
    }
    .card_image_notre_dame{
        height: 140px;
    }
    .card_image_notre_dame img{
        height: 100%;
        width: 280px;
    }
    .card_notre_dame a:hover{
        color: cornflowerblue;
        filter: grayscale(1);
    }
    .card_longchamp{
        width: 280px;
        height: 175px;
        overflow: hidden;
        border-radius: 10px/10px;
        box-shadow: 5px 10px 20px #F2F2F2;
    }
    .card_image_longchamp{
        height: 140px;
    }
    .card_image_longchamp img{
        height: 100%;
        width: 280px;
    }
    .card_longchamp a:hover{
        color: cornflowerblue;
        filter: grayscale(1);
    }
    footer {
        width: 100%;
        margin: auto;
        line-height: 5px;
    }
    .piedpage{
        display: flex;
        justify-content:flex-start;
        margin:auto;
        padding-left:20px;
        width: 100%;
        background-color: #F2F2F2;
    }
    .apropos{
        margin-right:0px;
        margin-left: 0px;

    }
    .nos_hebergement{
        margin-right:150px;
    }
    .assistance{
        margin-right:0;
    }
    footer a{
        font-size: 12px;
        text-decoration: none;
    }
    .piedpage p{
        padding-right: 10px;
        padding-left: 10px;
    }
    footer a:hover{
        color: cornflowerblue;
    }
    .apropos h2{
        padding-left: 10px;
        text-align: left;
    }
    .assistance h2{
        padding-left: 10px;
    }
    .nos_hebergement h2{
        padding-left: 10px;
    }
   
    .apropos p{
        padding-left: 10px;
        margin-right: 150px;
    }
    .nos_hebergement p{
        text-align: left;
        padding-left: 10px;
    }
    .assistance p{
        padding-left: 10px;
    }
    
    
}
    
@media screen and (max-device-width:767px) 
{
    #blockpage{
       width: 100%;
       margin: auto;
    }
    header{
        display: flex;
        flex-direction: column; 
        width: 100%;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        
       
    }
    nav ul
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-left:0 ;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    nav ul li{
        margin-left:0 ;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 3px solid gray;
        width: 100%; 
    }
    li a {
    text-decoration: none;
    font-size: 40px;
    display:block ;
    height: 50px;
    margin: 0;
    width: 100%;
    padding-bottom:15px;
    text-align:center;
    }
    nav a {
        text-decoration: none;
    }
    
    .bordure_bleu{
        border-bottom: solid blue;
        color: blue;
        padding-bottom: 15px;
    }
    nav a:hover{
        border-bottom: 1px solid blue ;
        color:none;
    }
    
   
    .logo{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   
    .logo img{
        height: 200px;
        width: 240px;
    }
    h2{
        font-size: 75px;
        padding-left: 10px;
        text-align: left;
        width: auto;
        margin-left: 10px;
    }
    h2+ p{
        color: grey;
        font-size: 55px;
        text-align: left;
        padding-left: 10px;
        margin-left: 10px;
    }
    #formulaire{
        display: flex;
        justify-content:flex-start;
        align-items:center;
        width:auto;
        margin-left: 10px;
        padding-left: 10px;
    }
    .element1  i{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 45px;
        padding-top: 45px;
        border: 1px solid black;
        background-color: #f2f2f2f2;
        border-radius: 50px 0px 0px 50px;
        height: 100px;
        width: 90px;
        border: none;
        font-size: 60px;
    }
    .element2 input{
        height: 175px;
        width: 530px;
        border: 0px;
        border: 0.1px solid rgb(223, 207, 207);
        padding-left: 25px;
        font-size: 60px;
    }
   
    .element3 i{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 45px;
        padding-bottom: 45px;
        height: 100px;
        width: 100px;
        background-color:#0065FC;
        color: white;
        border: 0px;
        border-radius: 50px/50px;
        font-size: 60px;
     }
    .element3 input{
        display: none;
    }
    #filtre {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        width: auto;
    }
    .touslesfiltres{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
        height: 550px;
        width: auto;
        margin-left: 0px;
        border-radius: 0px;
        background-color: white;
    }
    .economique{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px darkgrey solid ;
        border-radius: 80px/80px;
        height: 150px;
        width: 500px;
        padding-right: 10px;
    }
    .famille{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border: 1px darkgrey solid;
     border-radius: 80px/80px;
     height: 150px;
    width: 370px;
     padding-right: 10px;
    }
    .romantique{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border: 1px darkgrey solid;
     border-radius: 80px/80px;
     height: 150px;
     width: 480px;
     padding-right: 10px;
    }
    .animaux{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border: 1px darkgrey solid ;
     border-radius: 80px/80px;
     height: 170px;
     width: 620px;
     padding-right: 10px;
 
    }
    #filtre i {
        padding: 50px;
        color: rgb(2, 85, 240);
        background-color: rgb(204, 230, 255);
        border: 0px solid rgb(187, 186, 199);
        border-radius: 80px/80px;
        margin-right: 20px;
        overflow: hidden;
        font-size: 60px;
    }
    .touslesfiltres p{
        font-size: 50px;
    }
    .titrefiltre{
        font-size: 70px;
    }
    #i500logement{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 50px;
        width: auto;
        margin-left: 10px;
    }
    #i500logement i {
        margin-right: 20px;
        color:rgb(187, 186, 199);
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 15px;
        padding-top: 15px;
        border: 1px solid black;
        border-radius: 70px/70px;
        font-size: 40px;
        color: blue;
     }
    #hebergement{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0px;
    }
    .touslescard_populaires{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
        padding: 0px;
        background-color: #F2F2F2;
    }
    .les_elements{
        display: flex;
        align-items: flex-start;
        padding-right: 50px;
        height: 350px;
        width: 100%; 
    }
    #card_les_populaires{
        border-radius: 0px/0px;
        width: 100%;
        margin:0px;
        padding-left: 36px;
        
    }
    .card_body_les_populaires h3{
        font-size: 45px;
    }
    .icon_euro{
        font-size: 40px;
    }
    .card_les_populaires{
       width:90%;
       height: auto;
       background-color: white;
       box-shadow: 5px 5px 20px #999;
       border-radius: 40px/40px;
   }
   .card_les_populaires a{
    color: black;
    text-decoration: none;      
}
.card_les_populaires a :hover{
    color: cornflowerblue;
    filter: grayscale(1);
}
.card_image_les_populaires {
    width: 400px;
    height: 350px;
}
.card_image_les_populaires img{
    width: 400px;
    height: 100%;
    border-radius: 40px 0px 0px 40px;
}
.card_body_les_populaires{
    padding-left: 40px;
    margin-right: 20px;
    font-size: 40px;
    box-sizing: border-box;
    height: 350px;
    padding-bottom: 10px;
}
   .les_populaires{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: auto;
    }
   .les_populaires i{
       font-size: 80px;
       margin-left: 190px;
       padding-right: 30px;
   }
   .les_populaires h2{
       font-size: 70px;
   }

   #card_hebergement{
    background-color: white;
    border-radius: 0px/0px;
    width: 100%;
    margin: auto;
}
.touslescards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 3500px;
}
.afficherplus{
    margin: auto;
    padding-left: 35px;
    padding-top: 20px;
    font-size: 40px;
    
}
.afficherplus a{
    text-decoration: none;
    color: black;
}
.card_hebergement{
    width: 90%;
    margin: auto;
    height: 550px;
    background-color: white;
    box-shadow: 10px 10px 30px #999;
    border-radius: 40px/40px;
    margin-left: 40px;
}

.card_hebergement a{
    color: black;
    text-decoration: none;
}
.card_hebergement :hover{
    color: cornflowerblue;
    filter: grayscale(1);

}
.card_image_hebergement {
    height: 320px;
    position:relative;
    
}
.card_image_hebergement img{
    width: 98%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    position: absolute;
    padding: 8px;
}
.card_body_hebergement{
    padding-left: 30px;
    line-height:0px;
    font-size: 40px;
}
.card_body_hebergement i{
    font-size: 25px;
}
#card_hebergement h2 {
    font-size: 55px;
} 
.touslesactivites{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    padding-bottom: 30px;
}
#les_activites h2{
    padding-left: 55px;
    font-size: 50px;
}
#les_activites h3{
    font-size: 40px;
}
.card_vieux_port{
    width: 90%;
    margin: auto;
    height: 500px;
    overflow:hidden;
    border-radius: 40px/40px;
    box-shadow: 10px 15px 40px #F2F2F2;
    margin-left: 50px;
    margin-bottom: 50px;
}
.card_image_vieuxport{
    height: 350px;
    
}
.card_image_vieuxport img{
    height: 100%;
    width: 100%;
}
.card_pomegues{
    width: 90%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 40px/40px;
    box-shadow: 10px 15px 40px #F2F2F2;
    margin-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.card_image_pomegues{
    height: 350px;
}
.card_image_pomegues img{
    height: 100%;
    width: 100%;
}
.card_pomegues a:hover{
    color: cornflowerblue;
    filter: grayscale(1);
}
.card_frioul{
    width: 90%;
    height: 500px;
    margin: auto;
    padding-bottom: 30px;
    overflow:hidden;
    border-radius: 40px/40px;
    box-shadow: 10px 15px 40px #F2F2F2;
    margin-left: 50px;
    margin-bottom: 50px;
}
.card_image_frioul{
    height: 350px;
}
.card_image_frioul img{
    height: 100%;
    width: 100%;
}
.card_frioul a:hover{
    color: cornflowerblue;
    filter: grayscale(1);
}
.card_calanques{
    width: 90%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 40px/40px;
    box-shadow: 10px 15px 40px #F2F2F2;
    margin-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.card_image_calanques{
    height: 350px;
}
.card_image_calanques img{
    height: 100%;
    width: 100%;
}
.card_calanquesa:hover{
    color: cornflowerblue;
    filter: grayscale(1);
}
.card_notre_dame{
    width: 90%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 40px/40px;
    box-shadow: 10px 15px 40px #F2F2F2;
    margin-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.card_image_notre_dame{
    height: 350px;
}
.card_image_notre_dame img{
    height: 100%;
    width: 100%;
}
.card_notre_dame a:hover{
    color: cornflowerblue;
    filter: grayscale(1);
}
.card_longchamp{
    width: 90%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 40px/40px;
    box-shadow: 10px 15px 40px #F2F2F2;
    margin-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.card_image_longchamp{
    height: 350px;
}
.card_image_longchamp img{
    height: 100%;
    width: 100%;
}
.card_longchamp a:hover{
    color: cornflowerblue;
    filter: grayscale(1);
}
footer {
   
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 50px;
    height: auto;
}
.piedpage{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    align-items: flex-start;
    padding-left: 50px;
    height: auto; 
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}
.piedpage p {
    line-height: 80px;
    margin:0;
}
footer h2{
    font-size: 50px;
}

footer a{
    text-decoration: none;
    font-size: 35px;
}
footer a:hover{
    color: cornflowerblue;
}
footer ul li{
    padding: 0;
    padding-top: 35px;
}

}



















   